/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	font: inherit;
	font-size: 100%;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**** END CSS RESET ****/

html {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

/**** APP.JS PAGE ****/

.Portfolio {
}

/**** END APP.JS PAGE ****/

/**** HEADER PAGE ****/

.Header {
  /* background-color: rgb(218, 217, 217); */
  color: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3em;
  height: 150px;
  padding: 20px;
}
 .Header a:link,
 .Header a:visited,
 .Header a:active {
  color: rgb(34, 34, 34);
  text-decoration: none;
 }

 .Header a:hover {
  /* text-decoration: underline; */
  color: rgb(205, 205, 205);
 }

 /**** END HEADER PAGE ****/

 /**** PROJECTS PAGE ****/

 .Projects-Wrapper {
  display: flex;
  font-size: 2em;
  margin-top: 10px;
  min-height: 500px;
  padding: 20px;
  text-align: center;
 }

 .projects {
  min-height: 50%;
  width: 50%;
  margin: 0 auto;
  position: relative;
 }

 .projects a {
  text-decoration: none;
 }

.projects a:link,
.projects a:visited,
.projects a:active {
  color: rgb(255, 255, 255);
}

.project-image {
  border: solid rgb(0, 0, 0) 2px;
  /* box-shadow: 0 8px 6px -6px black; */
  height: 100%;
  width: 100%;
}


.description {
  background: rgba(0, 0, 0, .8);
  border: solid rgba(0, 0, 0, .8) 2px;
  bottom: 0;
  color: rgb(255, 255, 255);
  font-size: 1em;
  height: 100%;
  width: auto;
  line-height: 1.5em;
  opacity: 0;
  top: 0;
  padding-left: 20px;
  position: absolute;
  text-align: left;
  text-decoration: none;
  transition: .5s ease;
}

.link-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 15px;
  text-decoration: underline;
}


.project-link {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  margin: 0 auto;
}

.project-link > a {
  height: auto;
  width: auto;
  padding: 10px;
  background: rgba(172, 172, 172, 0.8);
  border-radius: 7px;
  position: absolute;
  top: 70%;
}

.project-link > a:hover {
  background: rgb(240, 240, 240);
  color: rgb(36, 36, 36);
}

.projects:hover .description {
  opacity: 1;
}

/**** END PROJECTS PAGE ****/

/**** ABOUT PAGE ****/

.About {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  margin-top: 10px;
  min-height: 500px;
  padding: 10px;
}

#bio {
  padding: 10px;
  text-align: left;
  line-height: 1.5em;
}

#bio-text {
  width: 60%;
  margin: 0 auto;
  font-style: italic;
}

.contact {
  margin-top: 10px;
}

#social-links img {
  height: 50pt;
  width: 50pt;
  margin-right: 10px;
  /* border-radius: 50px; */
}

#social-links img:hover {
  box-shadow: 0 10px 4px -4px black;
}

/**** END ABOUT PAGE ****/

/**** FOOTER.JS PAGE ****/

.Footer {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: 700;
}

/**** END FOOTER.JS PAGE ****/